

.label {
    -fx-font-size: 12px;
}

.dragicon {
	-fx-background-radius: 10; 
	    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;

}

.node-overlay {
	-fx-background-radius: 10 10 0 0;
	-fx-background-color:
	linear-gradient(to bottom, rgba(255,255,255,0.7) 15%, rgba(50,100,150,0.45) 100%);

	

    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}

.scroll-pane > .viewport {
   -fx-background-color: white;
}

.right-link-handle:hover {
	-fx-background-radius: 0 0 10 0;
	-fx-background-color:
	rgba(255, 255, 255, 0.35);
}

.left-link-handle:hover {
	-fx-background-radius: 0 0 0 10;
	-fx-background-color:
	rgba(255, 255, 255, 0.35);
}

.icon-lightblue {
	-fx-background-color: lightblue;
}

.icon-lightblue1 {
	-fx-background-color: #ccd9ff;
}

.icon-lightblue2 {
	-fx-background-color: #b3b3ff;
}
.icon-blue {
	-fx-background-color: blue;
}

.icon-lightgrey {
	-fx-background-color: lightgrey;
}

.icon-red {
	-fx-background-color: red;
}

.icon-lightgreen {
	-fx-background-color: lightgreen;
}

.icon-cyan {
	-fx-background-color: cyan;
}

.icon-paleblue {
	-fx-background-color: #009999;
/* 	-fx-background-color: #00CCCC;*/
}

.icon-palegreen {
 	/*-fx-background-color: #00CCCC;*/
 	
 	-fx-background-color: #66ffe0;
}


.icon-palegreen2 {
 	/*-fx-background-color: #00CCCC;*/
 	
 	-fx-background-color: #b3f0ff;
}
.icon-grey {
	-fx-background-color: grey;
}

.icon-yellow {
	-fx-background-color: yellow;
}

.icon-purple {
	-fx-background-color: purple;
}

.icon-orange {
	-fx-background-color: orange;
}

.icon-white {
	-fx-background-color: white;
}

.icon-magenta {
	-fx-background-color: magenta;
}

.icon-brown {
	-fx-background-color: brown;
}

